@use '../utility/styles/colors.scss';

.navTag {
  border: none;
  border-bottom: solid 2px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;

  .headerTag {
    width: 65%;
    font-family: 'Raleway-SemiBoldItalic';
    font-size: xx-large;
  }

  .buttonGroup {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      border: none;
      margin: 8px 0;
      padding: 0.5rem;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: colors.$purple-200;
        transform: scale(1.02);
        transition: all 0.3s ease;
      }

      &:active {
        background-color: colors.$purple-300;
        transform: scale(0.98);
        transition: all 0.3s ease;
      }
    }

    .toggleThemeModeBtn {
      font-size: xx-large;
      margin-left: 8px;
      margin-right: 15px;
    }
    .NavbarRefreshBtn {
      font-size: xx-large;
      margin-right: 8px;
    }
  }

  @media (max-width: 580px) {
    & {
      flex-direction: column;

      .headerTag {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .buttonGroup {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
// Dark mode
.navTag.bgDark {
  border-bottom: solid 5px;
  background-color: colors.$grey-900;
  border-color: colors.$grey-600;

  .headerTag {
    color: colors.$grey-300;
  }

  .buttonGroup {
    button {
      background-color: transparent;
      color: colors.$grey-500;

      &:hover {
        color: colors.$grey-300;
      }

      &:active {
        color: colors.$grey-100;
      }
    }
  }
}

// Light mode
.navTag.bgLight {
  background-color: colors.$purple-100;
  color: colors.$deep-purple-800;

  .buttonGroup {
    button {
      background-color: transparent;
      color: colors.$deep-purple-800;

      &:hover {
        color: colors.$deep-purple-600;
      }

      &:active {
        color: colors.$deep-purple-400;
      }
    }
  }
}
