.navTag {
  background-color: #e1bee7;
  border: none;
  border-bottom: solid 2px #ab47bc;
  // border-radius: 10px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonGroup {
  width: 35%;

  .toggleThemeMode {
    position: relative;
    height: 100%;
  }
  .NavbarRefreshBtn {
    font-size: xx-large;
  }
}

.headerTag {
  width: 55%;
}

nav:parent {
  background-color: #000 !important;
}
