@use '../utility/styles/colors.scss';

.footerTag {
  width: 100%;
  height: 20vh;
  border: none;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  .ulTag {
    list-style: none;
    width: 40%;
    font-size: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;

    .liTag {
      a {
        transition: all 0.3s ease;

        &:hover {
          transition: all 0.3s ease;
        }
        &:active {
          transition: all 0.3s ease;
        }
      }
    }
  }

  .description {
    width: 60%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    transition: all 0.3s ease;
    p {
      margin: 0 auto 0 0;
      font-size: x-large;
      font-family: 'Raleway-SemiBoldItalic';
      transition: all 0.3s ease;
      a {
        text-decoration: none;
        transition: all 0.3s ease;
      }
    }
  }

  @media (max-width: 800px) {
    & {
      flex-direction: column-reverse;
      justify-content: space-around;
      height: auto;
    }

    .ulTag {
      width: 100%;
      margin-bottom: -20px;
    }

    .description {
      width: 100%;
      padding: 0.5rem;
      text-align: center;
    }

    p {
      margin: 0 auto;
    }
  }
}

// Light mode
.footerTag.bgLight {
  background-color: colors.$purple-100;
  border-top: solid 2px colors.$purple-400;

  .description {
    color: colors.$deep-purple-500;
    p {
      a {
        color: colors.$deep-purple-800;
        transition: all 0.3s ease;
      }
    }
  }

  .ulTag {
    .liTag {
      a {
        color: colors.$deep-purple-600;

        &:hover {
          color: colors.$deep-purple-500;
        }

        &:active {
          color: colors.$deep-purple-400;
        }
      }
    }
  }
}

// Dark mode
.footerTag.bgDark {
  background-color: colors.$grey-900;
  border-top: solid 5px colors.$grey-600;

  .description {
    color: colors.$grey-500;

    p {
      a {
        color: colors.$grey-300;
        transition: all 0.3s ease;
      }
    }
  }

  .ulTag {
    .liTag {
      a {
        color: colors.$grey-500;

        &:hover {
          color: colors.$grey-300;
        }

        &:active {
          color: colors.$grey-100;
        }
      }
    }
  }
}
