@use '../utility/styles/colors.scss';
.footerTag {
  height: 20vh;
  width: 98%;
  border: none;
  border-top: solid 2px #ab47bc;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: colors.$purple-100;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    & {
      flex-direction: column-reverse;
      justify-content: space-around;
    }

    .ulTag {
      width: 100%;
      margin-bottom: -20px;
    }

    .description {
      width: 100%;
      padding: 0.5rem;
      text-align: center;
    }
  }
}

.ulTag {
  list-style: none;
  width: 40%;
  font-size: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;

  .liTag {
    a {
      color: colors.$deep-purple-600;

      &:hover {
        color: colors.$deep-purple-500;
      }
      &:active {
        color: colors.$deep-purple-400;
      }
    }
  }
}

.description {
  width: 60%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
